###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                                       @hiero-ledger/github-maintainers

#########################
####   Java Modules  ####
#########################
/cryptography/                                          @hiero-ledger/hiero-cryptography-maintainers
/common/                                                @hiero-ledger/hiero-cryptography-maintainers

/hedera-bls-api                                         @hiero-ledger/hiero-cryptography-maintainers
/hedera-bls-impl                                        @hiero-ledger/hiero-cryptography-maintainers
/hedera-bls-rust-jni                                    @hiero-ledger/hiero-cryptography-maintainers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                               @hiero-ledger/github-maintainers
/.github/workflows/                                     @hiero-ledger/github-maintainers

# Legacy Maven project files
**/pom.xml                                              @hiero-ledger/github-maintainers

# Gradle project files and inline plugins
/gradle/                                                @hiero-ledger/github-maintainers
gradlew                                                 @hiero-ledger/github-maintainers
gradlew.bat                                             @hiero-ledger/github-maintainers
**/build-logic/                                         @hiero-ledger/github-maintainers
**/gradle.*                                             @hiero-ledger/github-maintainers
**/*.gradle.*                                           @hiero-ledger/github-maintainers @hiero-ledger/hiero-cryptography-maintainers

# Codacy Tool Configurations
/config/                                                @hiero-ledger/github-maintainers
.remarkrc                                               @hiero-ledger/github-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                             @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                              @hiero-ledger/github-maintainers @hiero-ledger/hiero-cryptography-maintainers
**/LICENSE                                              @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                          @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                           @hiero-ledger/github-maintainers
**/.gitignore.*                                         @hiero-ledger/github-maintainers
